<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2623.1401" targetFramework="net40" />
  <package id="cef.redist.x86" version="3.2623.1401" targetFramework="net40" />
  <package id="CefSharp.Common" version="49.0.1" targetFramework="net40" />
  <package id="CefSharp.WinForms" version="49.0.1" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build.Symbols" version="1.1.24" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WebForms" version="10.0.40219.1" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net40" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net40" />
</packages>