@{
    Layout = "PrintLayout";
}

<div class="container" style="padding: 2cm;">
    <div class="jumbotron">
        <h1>Bienvenido</h1>
        <p class="lead">@(Model.Name) tiene @(Model.Age) años de edad.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Continuar</a></p>
    </div>
</div>