@model System.Exception

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        body {
            background: rgb(204,204,204);
        }
    </style>
</head>
<body>

    <h1>Error:</h1>
    <p>@(Model.Message)</p>

</body>
</html>