<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build.Symbols" version="1.1.27" targetFramework="net40" developmentDependency="true" />
  <package id="Platform.Model.Core" version="3.4.37.15142201" targetFramework="net40" />
  <package id="Platform.Support.Core" version="3.4.37.15142201" targetFramework="net40" />
</packages>