<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"  >

  <?include Config\Config.Bootstrapper.wxi?>

  <Bundle Name="$(var.ProductName)"
        Version="$(var.ProductVersion)"
        Manufacturer="$(var.ProductManufacturer)"
        AboutUrl="$(var.ProductManufacturerURL)"
        Copyright="$(var.ProductCopyright)"
        UpgradeCode="$(var.ProductUpgradeCode)"
        SplashScreenSourceFile="Files\SplashScreen.bmp"
        IconSourceFile="$(var.SolutionDir)Resources\Icons\AppIcon.$(var.TargetName).ico"
        Compressed="yes">

    <Variable Name="DelayStart" Type="numeric" Value="10000" />
    <WixVariable Id="WixBundleDirectoryLayout" Value ="setup"/>

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" >
      <bal:WixStandardBootstrapperApplication
        LogoFile="Files\LogoSlide.png"
        ThemeFile="Theme\ClassicTheme.xml"
        ShowVersion="yes"
        LicenseUrl="http://opensource.org/licenses/cpl1.0.txt"
        LocalizationFile="Globalization\ClassicTheme.wxl" />
    </BootstrapperApplicationRef>

    <Chain>

      <!-- TODO: Define the list of chained packages. -->
      <PackageGroupRef Id="NetFx40Web" />
      <!--InstallCondition="$(var.ic_en)"-->
      <!-- $(var.Setup.TargetDir)\en-us\$(var.Setup.TargetName).msi -->
      <!--DownloadUrl="$(var.ProductManufacturerURL)downloads/$(var.Setup.TargetName).msi"-->
      <MsiPackage Id="Setup"
                  DisplayName="$(var.ProductName)"
                  SuppressSignatureVerification="yes"
                  Compressed="yes"
                  Cache="no"
                  Permanent="no"
                  Vital="yes"
                  Visible="yes"
                  SourceFile=" $(var.Setup.TargetDir)$(var.Setup.TargetName).msi"
                  Name="$(var.Setup.TargetName).msi"
                  After="NetFx40Web">
        <MsiProperty Name="ARPSYSTEMCOMPONENT" Value="1"/>
      </MsiPackage>
      <!--<ExePackage Id="Certificates"
                  DisplayName="$(var.ProductName)"
                  SuppressSignatureVerification="yes"
                  Compressed="yes"
                  Cache="yes"
                  Permanent="yes"
                  SourceFile="S:\certificates\Certificates.exe"
                  Name="Certificates"
                  After="NetFx40Web"/>-->

    </Chain>
    
	</Bundle>
</Wix>