<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include Config\Config.Setup.wxi?>

  <Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)" Name="$(var.TargetName)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" Language="!(loc.LCID)">

    <Package InstallerVersion="200" InstallPrivileges="elevated" Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" Description="$(var.ProductName)" Comments="!(loc.ProductDescription)" />

    <Media Id="1" Cabinet="$(var.TargetName).cab" EmbedCab="yes" />

    <!-- Icons -->
    <Icon Id="ProductIcon" SourceFile="$(var.SolutionDir).resources\AppIcon.$(var.TargetName).ico" />

    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="ARPHELPLINK" Value="$(var.ProductManufacturerURL)" />
    <Property Id="ARPURLINFOABOUT" Value="$(var.ProductManufacturerURL)" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />

    <Property Id="INSTALLLOCATION">
      <RegistrySearch Id="RegistrySearchInstallLocation" Type="raw" Root="HKLM" Win64="$(var.Win64)" Key="Software\$(var.ProductManufacturerName)\$(var.ProductName)\$(var.ProductVersion)" Name="INSTALLLOCATION" />
    </Property>

    <Upgrade Id="$(var.ProductUpgradeCode)">
      <UpgradeVersion Minimum="$(var.ProductVersion)" OnlyDetect="yes" Property="NEWERVERSIONDETECTED" />
      <UpgradeVersion Minimum="2.0.0" Maximum="$(var.ProductVersion)" IncludeMinimum="yes" IncludeMaximum="no" Property="OLDERVERSIONBEINGUPGRADED" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate" />
    </InstallExecuteSequence>

    <Condition Message="!(loc.NewerVersionDetected)"><![CDATA[NOT NEWERVERSIONDETECTED]]></Condition>

    <!-- UI Definition -->
    <WixVariable Id="WixUIDialogBmp" Value="Files\WixUIDialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Files\WixUIBanner.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="Files\WixUILicense.rtf" />
    <UI>
      <UIRef Id="WixUI_Mondo" />
    </UI>

    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Install folder -->
      <Directory Id="ProgramFilesFolder" Name="$(var.PlatformProgramFilesFolder)">
        <Directory Id="ProductManufacturerFolder" Name="$(var.ProductManufacturerName)">
          <Directory Id="InstallFolder" Name="$(var.TargetName)" />
          <!--<Directory Id="InstallFolderHelp" Name ="Help" />
            <Directory Id="InstallFolderEN" Name="en" />
            <Directory Id="InstallFolderES" Name="es" />
            <Directory Id="InstallFolderPT" Name="pt" />
            <Directory Id="InstallFolderX86" Name="x86" />
            <Directory Id="InstallFolderX64" Name="x64" />
          </Directory>-->
          <Directory Id="SharedFolder" Name="Shared" />
          <Directory Id="PortableFolder" Name="Portable" />
          <Directory Id="ToolsFolder" Name="Tools" />
          <Directory Id="NuGetCacheDirProduct" Name="NuGet" />
        </Directory>
      </Directory>
      <!--<Directory Id="CommonFilesFolder" Name="$(var.PlatformCommonFilesFolder)">
        <Directory Id="InstallFolderCommonFiles" Name="$(var.TargetName)" />
      </Directory>-->
      <!-- Shortcuts folder -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ManufacturerMenuFolder" Name="$(var.ProductManufacturerName)">
          <Directory Id="ProductMenuFolder" Name="$(var.ProductName)" />
        </Directory>
      </Directory>
      
      <!--<Directory Id="DesktopFolder"/>-->
      <!-- Others folder -->
      <!--<Directory Id="FontsFolder"/>-->
    </Directory>

      <!-- Features -->
      <?include Features\DefaultFeature.wxi?>
      <!--<?include Features\PortableFeature.wxi?>-->
      <!--<?include Features\NuGetCacheFeature.wxi?>-->

    </Product>

</Wix>